# Assign appropriate values here
export LOOKERSDK_CLIENT_ID='yourclientid'
export LOOKERSDK_SECRET_KEY='yourclientsecret'
export GOOGLE_SHEET_ID='your-dev-google-sheet'

# instructions: base64 encode the contents of your google .json file by running
# "cat FILENAME | base64" and assign it here. It will be a really long string
export GOOGLE_APPLICATION_CREDENTIAL_ENCODED='your-base64-encoded-json-creds-file-contents'



# you can leave the rest as is for local dev
export FLASK_APP='server.main'
export FLASK_ENV='development'
export FLASK_WTF_CSRF_SECRET_KEY='somesecretwtfkey'
export FLASK_SECRET_KEY='somesecretflaskkey'
export LOOKERSDK_API_VERSION='3.1'
export LOOKERSDK_BASE_URL='https://self-signed.looker.com:19999'
export LOOKERSDK_VERIFY_SSL='False'
export GOOGLE_APPLICATION_CREDENTIALS='./google-creds.json'
# avoid looker-sdk localhost warnings: InsecureRequestWarning: Unverified HTTPS request
export PYTHONWARNINGS=ignore
