[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"
flask = "*"
pudb = "*"
ptipython = "*"
pytest = "*"

[packages]
looker-sdk = "*"
flask-wtf = "*"
google-api-python-client = "*"
google-auth = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
