looker.ini
lookerapi*.json
Looker*.json
**/node_modules/*
**/.idea/*
.vscode/*
api/*
python/venv/*
venv/*
package-lock.json
**/lib/*
**/dist/*
**/.DS_Store
**/.build
**/Packages
**/xcuserdata/
kotlin/.gradle/*
**/.gradle/*
kotlin/.*
kotlin/bin/*
kotlin/build/*
kotlin/out/*
junit.xml
results/*
