# This is a sample .env file
# If you want to use a .env file for your sdk-codegen settings instead of a looker.ini,
#  - copy this file to .env or .env.local
#  - put in the correct values for your configuration
#  - and you should be up and running with any SDK that supports environment variable configuration
#
# This repository is configured to gitignore `.env` files. A valid `.env` file should never be checked in.
LOOKERSDK_BASE_URL=https://self-signed.looker.com:19999
LOOKERSDK_VERIFY_SSL=false
LOOKERSDK_TIMEOUT=120
LOOKERSDK_CLIENT_ID=YourAPIClientID
LOOKERSDK_CLIENT_SECRET=YourAPIClientSSecret
