# Assign appropriate values here
export LOOKERSDK_CLIENT_ID='yourclientid'
export LOOKERSDK_CLIENT_SECRET='yourclientsecret'
export GOOGLE_SHEET_ID='your-dev-google-sheet'

# Hackathon app settings
export SENDGRID_API_KEY='your sendgrid api key'
export FROM_EMAIL='a valid sender email address'

# Test settings
export TEST_TO_EMAIL='a test email address'

# For debugging support call breakpoint() in code when using start-dev-flash.sh
PYTHONBREAKPOINT=pudb.set_trace


# instructions: base64 encode the contents of your google .json file by running
# "cat FILENAME | base64" and assign it here. It will be a really long string
export GOOGLE_APPLICATION_CREDENTIAL_ENCODED='your-base64-encoded-json-creds-file-contents'



# you can leave the rest as is for local dev
export FLASK_APP='server.main'
export FLASK_ENV='development'
export FLASK_WTF_CSRF_SECRET_KEY='somesecretwtfkey'
# cryptography.fernet.Fernet.generate_key().decode()
export FLASK_SECRET_KEY='7JjMlzoHlVQ_KN-JTQdM5ciBnCTs46KQAcZVTc4dh1k='
export LOOKERSDK_API_VERSION='3.1'
export LOOKERSDK_BASE_URL='https://self-signed.looker.com:19999'
export LOOKERSDK_VERIFY_SSL='False'
export GOOGLE_APPLICATION_CREDENTIALS='./google-creds.json'
# avoid looker-sdk localhost warnings: InsecureRequestWarning: Unverified HTTPS request
export PYTHONWARNINGS=ignore
