[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
yapf = "*"
ptpython = "*"
ipython = "*"
mypy = "*"

[packages]
requests = "*"
undictify = "*"
attrs = "*"
cattrs = "*"

[requires]
python_version = "3.7"
