[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ptpython = "*"
ipython = "*"
mypy = "*"
types-requests = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
flake8-bugbear = "*"
prettyprinter = "*"
setuptools = "*"
wheel = "*"
pyyaml = "*"
pytest-pudb = "*"
pytest-mock = "*"
twine = "*"
pillow = "*"
tox = "*"
tox-pyenv = "*"

[packages]
requests = "*"
attrs = "*"
cattrs = ">=1.3, <23.2"
python-dateutil = "*"

[requires]
python_full_version = "3.10"

[pipenv]
# for `black`
allow_prereleases = true
