<!doctype html>
<title>{% block title %}{% endblock %} - Looker SDK Flask Example</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <div>
  <h1>
    <a href="/">Looker SDK Flask Example</a>
  </h1>
  </div>
  <ul>
    {% if session['user_id'] %}
      <li>
        <b><span>Logged in! </span></b>
      </li>
      <li>
        <b><a href="{{ url_for('auth.logout') }}">Log Out</a></b>
      </li>
    {% else %}
      <li>
        <b><a href="{{ url_for('auth.register') }}">Register</a></b>
      </li>
      <li>
        <b><a href="{{ url_for('auth.login') }}">Log In</a></b>
      </li>

      <li>
          <a href="https://github.com/looker-open-source/sdk-codegen/tree/main/examples/python/looker_flask_example">See Code</a>
      </li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <div class="explainer">
    <p>This is a small demo Flask application, almost entirely based on the <a href="https://flask.palletsprojects.com/en/1.1.x/tutorial/">official Flask tutorial</a>. If you are curious about a piece of non-Looker specific code or a design decision, refer to the Flask tutorial for full explanations.</p>
    <p>It is likely not suitable for repurposing to production use cases, but is a very easy way to begin working with and understanding the <a href="https://github.com/looker-open-source/sdk-codegen/tree/main/python">Looker Python SDK</a>.</p>
    <details>
      <summary>Some ideas to get you started exploring</summary>
    <ul>
      <li>Allow a user to select between visualization or table when creating a new post.</li>
      <li>What happens if a user creates a post with a broken Look?</li>
      <li>Why is it so slow to create a new post? Or to just load the /create page in the first place?</li>
      <li>Allow a user to view the Looks and Dashboards they've Favorited in Looker, in the app.</li>
      <li>Harder: What would it take to add appropriate Looker permissions to this app?</li>
      <li>Sky's the limit :)</li>
    </ul>
  </details>

  </div>
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>