name: Publish NPM Packages

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'branch to release from'
        required: true
        default: joeldodge-rp2

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          ref: ${{ github.event.inputs.branch }}
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://wombat-dressing-room.appspot.com

      - run: npm install --no-package-lock
      - name: Publish to NPM registry
        run: npx lerna publish from-package --yes --no-verify-access --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN_RELEASE_BACKED }}
