name: Publish NPM Packages

on:
  release:
    types: published

  workflow_dispatch:
    inputs:
      ref:
        description: 'commit/tag/branch to release from'
        required: true

jobs:
  publish:
    if: >
      (github.event.inputs) ||
      (startsWith(github.event.release.tag_name, 'sdk-codegen-all') &&
      !github.event.release.draft &&
      !github.event.release.prerelease)
    runs-on: ubuntu-latest
    env:
      LOOKERSDK_BASE_URL: https://localhost:20000
      LOOKERSDK_VERIFY_SSL: false
      LOOKERSDK_CLIENT_ID: ${{ secrets.LOOKERSDK_CLIENT_ID__21_8 }}
      LOOKERSDK_CLIENT_SECRET: ${{ secrets.LOOKERSDK_CLIENT_SECRET__21_8 }}
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          ref: ${{  github.event.release.tag_name || github.event.inputs.ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: 15
          registry-url: https://wombat-dressing-room.appspot.com

      - name: Install dependencies and build
        run: |
          yarn
          yarn build

      # setup test env so prepublishOnly lifecycle script can run
      - name: Mock looker.ini
        run: |
          echo "[Looker]" > looker.ini
          echo "base_url=https://self-signed.looker.com:19999" >> looker.ini
          echo "client_id=id" >> looker.ini
          echo "client_secret=secret" >> looker.ini
          echo "verify_ssl=False" >> looker.ini
          echo "timeout=31" >> looker.ini
          echo "[Looker31]" >> looker.ini
          echo "base_url=https://self-signed.looker.com:19999" >> looker.ini
          echo "verify_ssl=False" >> looker.ini
          echo "timeout=30" >> looker.ini
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_AR_READER_SA_KEY }}
          export_default_credentials: true

      - name: Authenticate Artifact Repository
        run: gcloud auth configure-docker us-west1-docker.pkg.dev --quiet

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Pull and run Looker docker image
        run: |
          docker pull --quiet us-west1-docker.pkg.dev/cloud-looker-sdk-codegen-cicd/looker/21_8
          docker run --name looker-sdk-codegen-ci -d -p 10000:9999 -p 20000:19999 us-west1-docker.pkg.dev/cloud-looker-sdk-codegen-cicd/looker/21_8
          docker logs -f looker-sdk-codegen-ci --until=30s &
          python ${{ github.workspace }}/.github/scripts/wait_for_looker.py

      - name: Publish to NPM registry
        run: $(npm bin)/lerna publish from-package --yes --no-verify-access
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN_RELEASE_BACKED }}
