name: release-please
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4.1.2
        with:
          token: ${{ secrets.LOS_AUTO_BOT_RP_TOKEN }}
