name: TypeScript SDK CI
on:
  pull_request:
    paths:
      - packages/sdk/**
      - packages/sdk-rtl/**
      - packages/sdk-node/**
      - packages/extension-sdk/**
      - packages/extension-sdk-react/**
      - packages/extension-utils/**

  push:
    branches:
      - main
    paths:
      - packages/sdk/**
      - packages/sdk-rtl/**
      - packages/sdk-node/**
      - packages/extension-sdk/**
      - packages/extension-sdk-react/**
      - packages/extension-utils/**

  workflow_dispatch:

env:
  LOOKERSDK_BASE_URL: https://localhost:20000
  LOOKERSDK_VERIFY_SSL: false
  TS_JUNIT_OUTPUT_DIR: results/tssdk

jobs:
  unit:
    name: Unit - ${{ matrix.os }} / Node ${{ matrix.node-version }}
    env:
      JEST_JUNIT_OUTPUT_DIR: results/tssdk
      JEST_JUNIT_OUTPUT_NAME: ${{ matrix.os }}.tssdkrtl${{ matrix.node-version }}.xml
    runs-on: ${{ matrix.os }}-latest

    strategy:
      matrix:
        os:
          - ubuntu
        node-version: [12.x, 14.x, 15.x]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.6.0
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Repo Checkout
        uses: actions/checkout@v2

      - name: Install Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          yarn
          yarn lint:es --quiet
          yarn build
          yarn dedupe:ci

      - name: Mock looker.ini
        run: |
          echo "[Looker]" > looker.ini
          echo "base_url=https://self-signed.looker.com:19999" >> looker.ini
          echo "client_id=id" >> looker.ini
          echo "client_secret=secret" >> looker.ini
          echo "verify_ssl=False" >> looker.ini
          echo "timeout=31" >> looker.ini
          echo "[Looker31]" >> looker.ini
          echo "base_url=https://self-signed.looker.com:19999" >> looker.ini
          echo "verify_ssl=False" >> looker.ini
          echo "timeout=30" >> looker.ini

      - name: Run unit tests
        run: yarn jest "packages/(extension-sdk|extension-sdk-react|sdk-rtl|sdk)/src" --reporters=default --reporters=jest-junit

      - name: Delete looker.ini mock
        run: rm looker.ini

      - name: Upload ts unit test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: tssdk-test-results
          path: results/tssdk

  integration:
    needs: unit
    name: Integration - ${{ matrix.os }} / Node.${{ matrix.node-version }} / Looker.${{ matrix.looker }}
    env:
      JEST_JUNIT_OUTPUT_DIR: results/tssdk
      JEST_JUNIT_OUTPUT_NAME: ${{ matrix.os }}.Node-${{ matrix.node-version }}.Looker-${{ matrix.looker }}.xml
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        node-version: [12.x]
        os:
          - ubuntu
        looker:
          - '21_12'
          - '21_16'
          - '21_18'
          - '21_20'

    steps:
      - name: Repo Checkout
        uses: actions/checkout@v2

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_AR_READER_SA_KEY }}
          export_default_credentials: true

      - name: Authenticate Artifact Repository
        run: gcloud auth configure-docker us-west1-docker.pkg.dev --quiet

      - name: Pull and run Looker docker image
        # TODO: can we cache some layers of the image for faster download?
        # we probably don't want to cache the final image for IP security...
        run: |
          docker pull --quiet us-west1-docker.pkg.dev/cloud-looker-sdk-codegen-cicd/looker/${{ matrix.looker }}
          # set $LOOKER_OPTS to --no-ssl if we want to turn off ssl
          docker run --name looker-sdk-codegen-ci -d -p 10000:9999 -p 20000:19999 us-west1-docker.pkg.dev/cloud-looker-sdk-codegen-cicd/looker/${{ matrix.looker }}
          docker logs -f looker-sdk-codegen-ci --until=30s &

      - name: Install Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          yarn
          yarn build

      - name: Determine credentials version
        # Prior to 21_18, each version had different credentials and a 
        # different secret. 21_20 and later all use the same credentials
        # as 21_18. The parse_version.bash script parses the version and
        # yields 21_12, 21_14, 21_16 etc for those versions but 21_18 for
        # anything 21_18, 21_20, 22_0, etc.
        #
        # This can be factored out entirely once 21_18 is the earliest
        # supported looker version.
        run: |
          echo "CREDENTIALS_VERSION=$(${{ github.workspace }}/.github/scripts/parse_version.bash <<< ${{ matrix.looker }})" >> $GITHUB_ENV

      - name: Set up Looker credentials
        # Load the correct credentials based on the version from
        # the prior step.
        run: |
          echo "LOOKERSDK_CLIENT_ID=${{ secrets[format('LOOKERSDK_CLIENT_ID__{0}', env.CREDENTIALS_VERSION )] }}" >> $GITHUB_ENV
          echo "LOOKERSDK_CLIENT_SECRET=${{ secrets[format('LOOKERSDK_CLIENT_SECRET__{0}', env.CREDENTIALS_VERSION )] }}" >> $GITHUB_ENV

      - name: Check that Looker is ready
        run: |
          ${{ github.workspace }}/.github/scripts/wait_for_looker.sh

      - name: Run Integration Tests
        run: yarn jest packages/sdk-node/test --reporters=default --reporters=jest-junit

      - name: Upload integration test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: tssdk-test-results
          path: results/tssdk

  publish-test-results:
    needs: [unit, integration]
    if: success() || failure()
    runs-on: ubuntu-latest

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: artifacts

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1.12
        with:
          # Cosmetic issue with `check_name` being associated to the wrong
          # workflow: https://github.com/EnricoMi/publish-unit-test-result-action/issues/12
          check_name: Typescript Tests
          github_token: ${{ secrets.GITHUB_TOKEN }}
          report_individual_runs: true
          hide_comments: orphaned commits
          check_run_annotations_branch: '*'
          files: 'artifacts/tssdk-test-results/*.xml'
